#Accordion_route {
    /* background-color: #FCECCC; */
    background-color: #FCECCC;
    position: relative;
    z-index: 0; /* 修正 z-index 問題 */
    display: flex;
    flex-wrap: wrap;  
}

#Accordions {
    height: 100%;
    /* border: solid; */
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 18px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    /* background-color: #FCECCC; */
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  .accordion>span {
    font-size: 18px;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  /* .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  } */

  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

/*  加減號圖示 */
.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

/* 表格 */
.table_route {
    border-collapse: collapse;
    border: solid 1px; 
    border-color: #ddd;
    width: 90%;
    margin: 20px;
    color: #777;
    font-size: 16px;
  }
  
.table_route td {  
    padding: 6px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

td:first-child {
    text-align: center;
    table-layout: fixed;
    width: 80px;
    font-weight:bold ;
}

/* 法國之路熱門 */
#spanFrances::after {
  content: url(../img/icons8-fire-48小.png);
  height: 5px;
}

  /* table, th, td {
    border: 1px solid black !important; 
    border-collapse: collapse !important; 
} */

/* 開關on/off button */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  top: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #99AD82;
  /* background-color: #2196F3; */
}

input:focus + .slider {
  box-shadow: 0 0 1px #99AD82;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* 開關說明 */
#Accordions>span {
  color: #874C0E;
  position: relative;
  top: 15px;
}